{{> atoms/meta/_head}}
{{> organisms/global/header_v2}}

  <div role="main" class="page l-page" style="height:100%;">
    <section>
      <div class="object-nav cf">
        <div class="object-nav-lists">
          <ul class="breadcrumbs">
            <li><a href="{{navigation.home_url}}"><span class="svg-icon-home"></span>{{i18n.site.navigation.breadcrumb.return_home}}</a></li>
            <li><span><a hreh="#">1914 - 1918</a></span></li>
            <li><span class="lastitem"><strong>Register</strong></span></li>
          </ul>
        </div>
      </div>
    </section>
    <section id="maincontent">
      <iframe src="http://acceptance.1418.eanadev.org/en/users/register"
              xscrolling="no"
              height="900px"
              style="border:0; display:block; height:900px; width:100%;"></iframe>
    </section>
  </div>
{{> organisms/sections/banner }}
{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
{{> atoms/meta/_foot}}
