<!--
Pattern specific CSS files.

The Global pattern lab stylesheet "INCLUDE ALL THE STYLES" is the default.
(if no data file exists to override the css, then the default "Everything" css file will be included)

Specify what pattern specific css files you want in a json file in the templates directory with the same name as the mustache template you want to override. see here: http://patternlab.io/docs/data-pattern-specific.html

You can also specify a media attribute to target screen, print etc.

Example:
"css_files": [
	{
		"path": "../../css/common/screen.css",
		"media": "all"
	},
	{
		"path": "../../css/blog/screen.css",
		"media": "all"
	},
	{
		"path": "../../css/blog/whatever_you_want.css",
		"media": "screen"
	},
	{
		"path": "as_many/files/as/you_could_ever_want.css",
		"media": "print"
	}
]
-->
{{# css_files }}
<link rel="stylesheet" href="{{ path }}?{{ cacheBuster }}" media="{{ media }}" />
{{/ css_files}}
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700|Open+Sans:400italic,700italic,400,700&subset=latin,greek,cyrillic' rel='stylesheet' type='text/css'>