{{#entity_caching_enabled}}
  {{#cached_body}}
    {{>atoms/meta/_head}}
      {{>templates/Search/Entity-page}}
    {{>atoms/meta/_foot}}
  {{/cached_body}}
{{/entity_caching_enabled}}
{{^entity_caching_enabled}}
   {{>atoms/meta/_head}}
     {{>templates/Search/Entity-page}}
   {{>atoms/meta/_foot}}
{{/entity_caching_enabled}}
