<ul class="sg-icons inline-list">
	<li class="icon-search icon-block"></li>
	<li class="icon-rows icon-round"></li>
	<li class="icon-link icon-round"></li>
	<li class="icon-lock icon-round"></li>
</ul>
