<div class="related-items noimages">
	<h4>{{title}}</h4>

	<ul class="l-relatedlinks">
	{{#listItems.three}}<li class="related-item"><a href="">{{ headline.short }}</a></li>{{/listItems.three}}
	</ul>
</div>