<span class="item-date">
	<svg class="icon icon-calendar">
		<use xlink:href="#icon-calendar"></use>
	</svg>
	<span class="item-day">{{ day.long }}</span>
	<span class="item-month">{{ month.long}}</span>
	<span class="item-year">{{ year.long }}</span>
</span>