<nav class="our-sites" aria-expanded="false">
	<div class="lc">
	<div class="grid">


		<div class="l-linklist">
		<div class="inner">

			<h2 class="title h3">Discover</h2>

			<ul>
			<!--{{#listItems.two}}
				<li class="globallink">
				<a href="#">
					<h3 class="globallink-title">{{ headline.short }}</h3>
					<p class="globallink-desc">{{ excerpt.vshort }}</p>
				</a>
				</li>
			{{/listItems.two}}-->

				<li class="globallink">
				<a href="#">
					<h3 class="globallink-title">Search Collections</h3>
					<p class="globallink-desc">Search through Europe's cultural heritage</p>
				</a>
				</li>

			</ul>

		</div>
		</div><!--



	 --><div class="l-linklist">
		<div class="inner">

			<h2 class="title h3">Network</h2>

			<ul>
	<!--		{{#listItems.two}}
				<li class="globallink">
				<a href="#">
					<h3 class="globallink-title">{{ headline.short }}</h3>
					<p class="globallink-desc">{{ excerpt.vshort }}</p>
				</a>
				</li>
			{{/listItems.two}}
			-->

			<li class="globallink">
				<a href="#">
					<h3 class="globallink-title">Professional</h3>
					<p class="globallink-desc">For Culture Professionals</p>
				</a>
			</li>

			</ul>

		</div>
		</div><!--



	 --><div class="l-linklist">
		<div class="inner">

			<h2 class="title h3">Develop</h2>

			<ul>
	<!--	{{#listItems.two}}
				<li class="globallink">
				<a href="#">
					<h3 class="globallink-title">{{ headline.short }}</h3>
					<p class="globallink-desc">{{ excerpt.vshort }}</p>
				</a>
				</li>
			{{/listItems.two}}
			-->

			<li class="globallink">
				<a href="#">
					<h3 class="globallink-title">Labs</h3>
					<p class="globallink-desc">A playground for remixing cultural content</p>
				</a>
			</li>

			</ul>

		</div>
		</div>




	</div>
	</div>
</nav>