<nav id="nav" class="nav_primary nav">
	<ul>
		<li><a href="#" class="current" >Home</a></li>
		<li><a href="#">Primary1</a></li>
		<li><a href="#">Primary2</a></li>
		<li><a href="#">Primary3</a></li>
	</ul>
</nav><!--end .nav-->
