<ol class="pagination">
	   <li class="is-disabled"><a href="">← First</a></li><!-- 
	--><li class="arrow is-disabled"><a href="">←</a></li><!-- 
	--><li class="current"><a href="">1</a></li><!-- 
	--><li><a href="">2</a></li><!-- 
	--><li><a href="">3</a></li><!-- 
	--><li><a href="">4</a></li><!-- 
	--><li><a href="">5</a></li><!-- 
	--><li><a href="">6</a></li><!-- 

	--><li class="is-disabled"><a href="">&hellip;</a></li><!-- 

	--><li class="arrow"><a href="">→</a></li><!-- 
	--><li class=""><a href="">Last →</a></li>
</ol>