<div class="l-linklist {{ styleModifier }}">
<div class="inner">
    <h4 class="title">{{ title }}</h4>

    <ul>
		<li><a href="#">Link one here</a></li>
		<li><a href="#">Link two here</a></li>
		<li><a href="#">Link three here</a></li>
	</ul>
</div>
</div>