<ul class="tags tags-large">
	<li><a href="{{ link.templates-labs-list }}" class="tag" >API</a></li>
	<li><a href="{{ link.templates-labs-list }}" class="tag" >Linked Open data</a></li>
	<li><a href="{{ link.templates-labs-list }}" class="tag" >Case Study</a></li>
	<li><a href="{{ link.templates-labs-list }}" class="tag" >Prototype</a></li>
	<li><a href="{{ link.templates-labs-list }}" class="tag" >Hackathon</a></li>
</ul>