<div class="social-links">

	<h4 class="title">Find us elsewhere:</h4>

	<a href="https://twitter.com/Europeana">
		<svg class="icon icon-twitter">
			<use xlink:href="#icon-twitter"></use>
		</svg>
	</a>
	<a class="icon-social" href="https://www.facebook.com/Europeana">
		<svg class="icon icon-facebook">
			<use xlink:href="#icon-facebook"></use>
		</svg>
	</a>
	{{# googleplus }}
	<a class="icon-social" href="https://plus.google.com/+europeana/posts">
		<svg class="icon icon-googleplus">
			<use xlink:href="#icon-googleplus"></use>
		</svg>
	</a>
	{{/ googleplus }}
	<a class="icon-social" href="https://www.linkedin.com/groups/Europeana-134927/about">
		<svg class="icon icon-linkedin">
			<use xlink:href="#icon-linkedin"></use>
		</svg>
	</a>
	<a class="icon-social" href="https://github.com/europeana">
		<svg class="icon icon-github">
			<use xlink:href="#icon-github"></use>
		</svg>
	</a>
</div>