<div class="sparkline">
    <div class="sparkline-data">
      <a class="index"><span class="count" style="height: 22%;">(75,</span> </a>
      <a class="index"><span class="count" style="height: 44%;">100,</span> </a>
      <a class="index"><span class="count" style="height: 22%;">50,</span> </a>
      <a class="index"><span class="count" style="height: 35%;">80,</span> </a>
      <a class="index"><span class="count" style="height: 83%;">60,</span> </a>
      <a class="index"><span class="count" style="height: 40%;">90,</span> </a>
      <a class="index"><span class="count" style="height: 49%;">110,</span> </a>
      <a class="index"><span class="count" style="height: 0;">0,</span> </a>
      <a class="index"><span class="count" style="height: 0;">0,</span> </a>
      <a class="index"><span class="count" style="height: 0;">0,</span> </a>
      <a class="index"><span class="count" style="height: 70%;">110,</span> </a>
      <a class="index"><span class="count" style="height: 74%;">40,</span> </a>
      <a class="index"><span class="count" style="height: 0%;">0,</span> </a>
      <a class="index"><span class="count" style="height: 33%;">75,</span> </a>
      <a class="index"><span class="count" style="height: 100%;">60,</span> </a>
      <a class="index"><span class="count" style="height: 86%;">40,</span> </a>
      <a class="index"><span class="count" style="height: 100%;">60,</span> </a>
      <a class="index"><span class="count" style="height: 44%;">100)</span></a>
      <a class="index"><span class="count" style="height: 96%;">(75,</span> </a>
      <a class="index"><span class="count" style="height: 44%;">100,</span> </a>
      <a class="index"><span class="count" style="height: 96%;">50,</span> </a>
      <a class="index"><span class="count" style="height: 35%;">80,</span> </a>
      <a class="index"><span class="count" style="height: 100%;">60,</span> </a>
      <a class="index"><span class="count" style="height: 40%;">90,</span> </a>
      <a class="index"><span class="count" style="height: 70%;">110,</span> </a>
      <a class="index"><span class="count" style="height: 0;">0,</span> </a>
      <a class="index"><span class="count" style="height: 0;">0,</span> </a>
      <a class="index"><span class="count" style="height: 0;">0,</span> </a>
      <a class="index"><span class="count" style="height: 49%;">110,</span> </a>
      <a class="index"><span class="count" style="height: 18%;">40,</span> </a>
      <a class="index"><span class="count" style="height: 0%;">0,</span> </a>
      <a class="index"><span class="count" style="height: 33%;">75,</span> </a>
      <a class="index"><span class="count" style="height: 83%;">60,</span> </a>
      <a class="index"><span class="count" style="height: 18%;">40,</span> </a>
      <a class="index"><span class="count" style="height: 27%;">60,</span> </a>
      <a class="index"><span class="count" style="height: 44%;">100)</span></a>
      <a class="index"><span class="count" style="height: 96%;">(75,</span> </a>
      <a class="index"><span class="count" style="height: 44%;">100,</span> </a>
      <a class="index"><span class="count" style="height: 22%;">50,</span> </a>
      <a class="index"><span class="count" style="height: 35%;">80,</span> </a>
      <a class="index"><span class="count" style="height: 27%;">60,</span> </a>
      <a class="index"><span class="count" style="height: 40%;">90,</span> </a>
      <a class="index"><span class="count" style="height: 49%;">110,</span> </a>
      <a class="index"><span class="count" style="height: 0;">0,</span> </a>
      <a class="index"><span class="count" style="height: 0;">0,</span> </a>
      <a class="index"><span class="count" style="height: 0;">0,</span> </a>
      <a class="index"><span class="count" style="height: 49%;">110,</span> </a>
      <a class="index"><span class="count" style="height: 18%;">40,</span> </a>
      <a class="index"><span class="count" style="height: 0%;">0,</span> </a>
      <a class="index"><span class="count" style="height: 33%;">75,</span> </a>
      <a class="index"><span class="count" style="height: 27%;">60,</span> </a>
      <a class="index"><span class="count" style="height: 74%;">40,</span> </a>
      <a class="index"><span class="count" style="height: 27%;">60,</span> </a>
      <a class="index"><span class="count" style="height: 44%;">100)</span></a>
    </div>

    <div class="sparkline-range">
      <span class="sparkline-start">1923</span>
      <span class="sparkline-end">2015</span>
    </div>
</div>