{{>atoms/meta/_head}}
{{#channel_object}}
  {{> templates/Search/Channels-object}}
{{/channel_object}}
{{^channel_object}}
  {{> templates/Search/Search-object}}
{{/channel_object}}
{{>atoms/meta/_foot}}
