{{>atoms/meta/_head}}

{{#cached_body}}
  {{> templates/Search/Search-colours}}

  {{# version.is_alpha }}
    {{> organisms/sections/phase-feedback }}
  {{/ version.is_alpha }}

  {{> organisms/global/footer }}
{{/cached_body}}

{{>atoms/meta/_foot}}
