{{>atoms/meta/_head}}

{{#cached_body}}
  {{>templates/Search/Search-new-content }}

  {{# version.is_beta }}
    {{> organisms/sections/phase-feedback }}
  {{/ version.is_beta }}

  {{> organisms/global/footer }}
{{/cached_body}}

{{>atoms/meta/_foot}}
