


<a class="dropdown-trigger" href="#" data-dropdown="#dropdown-result-actions">Actions</a>

<div id="dropdown-result-actions" class="dropdown">
	<div class="menu-title">Save to…</div>

    <ul class="dropdown-menu">
        <li><a href="#1">New collection</a></li>
        <li><a href="#2">Favourite art</a></li>
        <li><a href="#3">Dutch masters</a></li>
        <li><a href="#4" class="menu-more">Show all collections</a></li>
        <li class="dropdown-divider"></li>
        <li><a href="#4" class="menu-more">Download data</a></li>
        <li class="dropdown-divider"></li>
        <li><a href="#5" class="menu-more">Configure actions</a></li>
    </ul>
</div>
