<div class="result-viewtype button-bar button-bar-small">

    <div class="button-bar__item">
        <input id="view_grid" class="button-toggle" name="viewtype" type="radio">
        <label for="view_grid" class="button-bar__button">
            <svg class="icon icon-view-grid">
            <use xlink:href="#icon-view-grid"></use>
            </svg>Grid
        </label>
    </div>

  <div class="button-bar__item">
    <input id="view_list" class="button-toggle" name="viewtype" type="radio" checked>
    <label for="view_list" class="button-bar__button">
        <svg class="icon icon-view-list">
        <use xlink:href="#icon-view-list"></use>
        </svg>List
    </label>
  </div>

</div>