<fieldset class="filter filter-license">
	<legend class="filter-name">{{ title }}</legend>

	<ul class="filter-list">
		<li>
		<label class="filter-label">
			<input type="checkbox" name="groupname" id="">Label here <span class="filter-num">(1234)</span>
		</label>
		</li>
		<li>
		<label class="filter-label">
			<input type="checkbox" name="groupname" id="">Label here <span class="filter-num">(1234)</span>
		</label>
		</li>
		<li>
		<label class="filter-label">
			<input type="checkbox" name="groupname" id="">Label here <span class="filter-num">(1234)</span>
		</label>
		</li>
		<li>
		<label class="filter-label">
			<input type="checkbox" name="groupname" id="">Label here <span class="filter-num">(1234)</span>
		</label>
		</li>
	</ul>
</fieldset>