<fieldset class="filter">

	<legend class="filter-name">{{ title }}</legend>

	<ul class="filter-list">
		<li>
		<label class="filter-label">
			<input type="checkbox" name="groupname" id="">Label here <span class="filter-num">(1234)</span>
		</label>
		</li>

		<li>
		<label class="filter-label">
			<input type="checkbox" name="groupname" id="">Label here <span class="filter-num">(1234)</span>
		</label>
		</li>

		<li>
		<label class="filter-label">
			<input type="checkbox" name="groupname" id="">Label here <span class="filter-num">(1234)</span>
		</label>
		</li>

		<li>
		<label class="filter-label">
			<input type="checkbox" name="groupname" id="">Label here <span class="filter-num">(1234)</span>
		</label>
		</li>

		<div class="js-extrafields is-jshidden">
			<li>
			<label class="filter-label">
				<input type="checkbox" name="groupname" id="">Label here <span class="filter-num">(1234)</span>
			</label>
			</li>

			<li>
			<label class="filter-label">
				<input type="checkbox" name="groupname" id="">Label here <span class="filter-num">(1234)</span>
			</label>
			</li>

			<li>
			<label class="filter-label">
				<input type="checkbox" name="groupname" id="">Label here <span class="filter-num">(1234)</span>
			</label>
			</li>

			<li>
			<label class="filter-label">
				<input type="checkbox" name="groupname" id="">Label here <span class="filter-num">(1234)</span>
			</label>
			</li>
		</div>
	</ul>


	{{! @TODO - add in javascript show/hide extra fields functionality
		- toggle the .is-jshidden class on nearest .js-extrafields div (above)
		- change the text to the text in the data-swaptext attribute
		- add an is-active class to this link
	}}
	<a class="js-showhide filter-moreless" href="#" data-swaptext="Less">More…</a>
</fieldset>