<form action="">
<fieldset class="filter filter-date">

	<legend class="filter-name">{{ title }}</legend>

	{{> molecules-sparkline }}


	<div class="filter-controls">
		<div class="control-group">
			<label for="date-range-start">From:</label>
			<input id="date-range-start" type="text" value="1923">
		</div>

		<div class="control-group">
			<label for="date-range-end">To:</label>
			<input id="date-range-end" type="text"  value="2015">
		</div>
	</div>

</fieldset>
</form>