<div class="block block-inset">
    <a href="#" class="inner">
		<div class="b-thumb">
			{{> atoms-landscape-4x3 }} 

			<div class="b-text">
				<h2 class="headline">{{ headline.medium }}</h2>
			</div>
		</div>

		<div class="excerpt">
			<p>{{ excerpt.short }}</p>
		</div>
	</a>
</div>