<article class="search-list-item cf">

	<div class="item-preview">
		{{# is_image }}
			<div class="item-image">
        	<img src="{{ img.rectangle.src }}" alt="{{ img.rectangle.alt }}" />
        	</div>
    	{{/ is_image }}

   		{{# is_audio }}
        	@TODO --audio preview--
    	{{/ is_audio }}

   		{{# is_text }}
        	@TODO --text preview--
    	{{/ is_text }}

    	{{# is_video }}
        	@TODO --video preview--
    	{{/ is_video }}

	</div>

	<div class="item-info">

		<h1><a href="{{object_url}}"{{#link_attrs}} {{name}}="{{value}}"{{/link_attrs}}>{{ title }} {{#year.long}}<span class="date">({{ year.long }})</span>{{/year.long}}</a></h1>

		{{#text}}
		<p class="excerpt">
			 {{text.medium}}
		</p>
		{{/text}}

		{{#origin}}
		<a href="{{origin.url}}" class="item-origin link-external">{{ i18n.site.results.page.view-at-provider }} {{ origin.text }}</a>
		{{/origin}}

		<footer>
			<div class="item-metadata">

{{# item_type }}
	        	<a href="{{item_type.url}}" class="highlight item-type">
					{{# is_image }}
					<svg class="icon icon-image">
						<use xlink:href="#icon-image"></use>
					</svg>
					{{/ is_image }}
					{{# is_audio }}
					<svg class="icon icon-bookmark">
						<use xlink:href="#icon-bookmark"></use>
					</svg>
					{{/ is_audio }}
					{{# is_text }}
					<svg class="icon icon-comments">
						<use xlink:href="#icon-comments"></use>
					</svg>
					{{/ is_text }}
					{{# is_video }}
					<svg class="icon icon-comments">
						<use xlink:href="#icon-comments"></use>
					</svg>
					{{/ is_video }}

					{{item_type.name}}
	        	</a>
{{/ item_type }}


			{{# channels }}
				<span class="item-themes">
					In channel:
					{{# items }}
					<a href="{{url}}" class="highlight">{{text}}</a>,
					{{/ items }}
				</span>
			{{/ channels }}

			</div>

			<div class="item-actions">

				<a href="path/to/save" class="action-save">
					<svg class="icon icon-star">
						<use xlink:href="#icon-star"></use>
					</svg>Save
				</a>

				<div class="action-select">
					<input type="checkbox" name="selected[]" id="itemx">
				</div>
			</div>

		</footer>
	</div>
</article>
