<form action="#" method="post" class="inline-form newsletter-form">

	<label for="newsletter-field" class="title">Sign up for our newsletter</label>

	<div class="inline-container">
		<input type="newsletter" placeholder="E-mail address" id="newsletter-field" class="js-placeholder newsletter-field" />
		<button class="newsletter-submit">
			<svg class="icon icon-check">
				<use xlink:href="#icon-check"></use>
			</svg>
		</button>
	</div>

	<div class="newsletter-options">
		<label>
			<input type="radio" name="language" value="eng" />
			English
		</label>
		<label>
			<input type="radio" name="language" value="fr" />
			Français
		</label>
	</div>
</form>