
<h2 class="sg-pattern-head">Body font:</h2>

<p>"Open Sans", "Arial", sans-serif;</p>
<p><em>"Open Sans", "Arial", sans-serif;</em></p>
<p><strong>"Open Sans", "Arial", sans-serif;</strong></p>

<h2 class="sg-pattern-head">Secondary/Title font:</h2>

<p class="font-secondary">Ubuntu, Georgia, serif;</p>
<p class="font-secondary"><em>Ubuntu, Georgia, serif;</em></p>
<p class="font-secondary"><strong>Ubuntu, Georgia, serif;</strong></p>