<!-- Start Footer -->
<footer class="footer" role="contentinfo">
    <div class="lc">
        <div class="grid">

            <div class="l-contact">
                <div class="footer_logo">
                    <a href="/"><img src="../../images/footer_logo.svg" alt="Europeana - think culture" /></a>
                </div>

                <div class="address">
                    Head Office<br>
                    ℅ Koninklijke Bibliotheek<br>
                    Prins Willem Alexanderhof 5<br>
                    2595 BE Den Haag
                </div>

            </div><!--

         --><div class="l-content">

                <div class="l-sitemap grid">
(title: "More info")
                {{> 01-molecules/05-navigation/05-linklist-with-title }}<!--
(title: "&nbsp;")
             -->{{> 01-molecules/05-navigation/05-linklist-with-title }}
                </div>

                <div class="grid">
                    <div class="l-mission">
                        <h4 class="title">Our Mission</h4>
                        <p>The Europeana Foundation and its Network create new ways for people to engage with European cultural history for work, learning or pleasure.</p>
                    </div><!--

                 --><div class="l-othersites">
:inline-list (title: "Explore Europeana")
                        {{> 01-molecules/05-navigation/05-linklist-with-title }}
                    </div>
                </div>
            </div><!--

         --><div class="l-nextsteps">
                {{# newsletter }}
                <div class="signup">
                    {{> 01-molecules/05-navigation/04-forms/02-newsletter }}
                </div>
                {{/ newsletter }}

                {{> 01-molecules/05-navigation/30-social-links }}
            </div>
        </div>
    </div>

    <div class="sub-footer">

        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="http://europeana.eu/portal/rights/terms-and-policies.html">Terms of use &amp; policies</a></li>
            <li><a href="/">Contact us</a></li>
            <li><a href="/">Sitemap</a></li>
        </ul>

        <p class="copyright">Co-funded by the European Union.</p>

    </div>


</div>
</footer>
<!-- End Footer -->